nav {
 display: flex;
 flex-direction: row;
 width: 100%;
 padding: 0 20px 0 50px;
 font-size: 20px;
}

.navigation-buttons {
 display: flex;
 flex-direction: row;
 width: 80%;
 gap: 80px;
}

.navigation-icons {
 display: flex;
 flex-direction: row;
 gap: 20px;
 width: 20%;
 align-items: center;
 justify-content: end;
}

.button-logout {
 width: 30px;
 height: 30px;
}

.button-about-me {
 width: 40px;
 height: 40px;
}

img {
 -webkit-filter: invert(100%);
 width: 100%;
 height: 100%;
}

.navigation-trigger {
 cursor: pointer;
}