<nav>
  <ng-container *ngIf="!userAuthenticated(); else authNavigation">
      <div class="navigation-buttons">
        <ng-container *ngTemplateOutlet="homeNavigation"></ng-container>
      </div>
  </ng-container>
</nav>

<ng-template #authNavigation>
  <div class="navigation-buttons">
    <ng-container *ngTemplateOutlet="homeNavigation"></ng-container>
    <div *ngIf="isAdmin()">
      <p class="navigation-trigger" [routerLink]="['/register-patient']">Register patient</p>
    </div>
    <div *ngIf="isAdmin()">
      <p class="navigation-trigger" [routerLink]="['/register-in-queue']">Register in queue</p>
    </div>
    <div>
      <p class="navigation-trigger" *ngIf="isAdmin()" [routerLink]="['/queue-view']">View queue</p>
    </div>
    <div>
      <p class="navigation-trigger" [routerLink]="['/patient-history']">Patient history</p>
    </div>
    <div *ngIf="isAdmin() else myHistory">
      <p class="navigation-trigger" [routerLink]="['/nurse-history']">Nurse history</p>
    </div>
    <ng-template #myHistory>
      <div>
        <p class="navigation-trigger" [routerLink]="['/nurse-history', getUserId()]">My history</p>
      </div>
    </ng-template>
  </div>
  <div class="navigation-icons">
    <div class="button-about-me navigation-trigger" [routerLink]="['/about-me']">
      <img src="assets/icons/profile.png" />
    </div>
    <div class="button-logout navigation-trigger" (click)="logout()">
      <img src="assets/icons/logout.png" />
    </div>
  </div>
</ng-template>

<ng-template #homeNavigation>
  <div>
    <p class="navigation-trigger" [routerLink]="['/home']">eLikar</p>
  </div>
</ng-template>

