.class1 {
  width: 100px;
  margin-top: 20px;
  height: 100px;
  background-color: green;
} 

.class2 {
  width: 100px;
  margin-top: 20px;
  height: 100px;
  background-color: yellow;
}

.class3 {
  width: 100px;
  margin-top: 20px;
  height: 100px;
  background-color: blue;
}