.main-wrapper {
    height: 100%;
}


.wrapper {
    display: grid;
    grid-template: 0.1fr 0.05fr 1fr/1fr;
    height: 100%;
    padding: 40px;
}

h3 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.find-patient-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 25px;
    box-sizing: border-box;
    font-size: 18px;
}

.table-wrapper {
    background-color: navajowhite;
    height: 100%;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.columns-wrapper, .data-wrapper {
    display: grid;
    grid-template: 1fr/0.5fr 1fr 1fr 0.5fr 2fr;
    font-size: 24px;
    gap: 70px;
}

.columns-wrapper {
    font-size: 30px;
    font-weight: bold;
}

.message-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}