<div class="main-wrapper">
  <div class="time-date-selection-wrapper wrapper" *ngIf="!shouldShowPatientFinderAndRegisterSection; else findUserAndRegister">
    <div class="time-selector-wrapper selector-wrapper">
      <div>
        <h2>Queue data</h2>
      </div>
      <div class="time-intervals-selector">
        <ng-container *ngIf="dateInterval">
          <div class="time-interval" [class.booked-time-interval]="isTimeIntervalBooked(10)"
               [ngClass]="selectedTimeInterval === 10 ? 'selected' : ''" (click)="selectTimeInterval(10)">10:00
          </div>
          <div class="time-interval" [class.booked-time-interval]="isTimeIntervalBooked(11)"
               [ngClass]="selectedTimeInterval === 11 ? 'selected' : ''" (click)="selectTimeInterval(11)">11:00
          </div>
          <div class="time-interval" [class.booked-time-interval]="isTimeIntervalBooked(12)"
               [ngClass]="selectedTimeInterval === 12 ? 'selected' : ''" (click)="selectTimeInterval(12)">12:00
          </div>
          <div class="time-interval" [class.booked-time-interval]="isTimeIntervalBooked(14)"
               [ngClass]="selectedTimeInterval === 14 ? 'selected' : ''" (click)="selectTimeInterval(14)">14:00
          </div>
          <div class="time-interval" [class.booked-time-interval]="isTimeIntervalBooked(15)"
               [ngClass]="selectedTimeInterval === 15 ? 'selected' : ''" (click)="selectTimeInterval(15)">15:00
          </div>
          <div class="time-interval" [class.booked-time-interval]="isTimeIntervalBooked(16)"
               [ngClass]="selectedTimeInterval === 16 ? 'selected' : ''" (click)="selectTimeInterval(16)">16:00
          </div>
        </ng-container>
      </div>
      <button class="submit-button" [disabled]="shouldSelectTimeIntervalBeDisabled()" (click)="goToFindUserAndRegisterButtonSection()">Select</button>
    </div>
    <div class="date-and-nurse-selector-wrapper selector-wrapper">
      <div>
        <h2>Queue parameters</h2>
      </div>
      <div class="speciality-selection selection">
        <label>Speciality</label>
        <select [(ngModel)]="selectedSpeciality" (change)="filterNursesBySelectedSpeciality()">
          <option *ngFor="let speciality of specialities">{{ speciality }}</option>
        </select>
      </div>
      <div class="nurse-selection-wrapper selection">
        <label>Doctor</label>
        <select [(ngModel)]="selectedNurseId">
          <option *ngFor="let nurse of filteredNurses" [value]="nurse.id">{{ this.getNurseFullName(nurse) }}</option>
        </select>
      </div>
      <div class="date-selection selection">
        <label>Date</label>
        <input [(ngModel)]="selectedDate" class="date-picker" type="date">
      </div>
      <button class="submit-button" (click)="findQueue(selectedNurseId)">Find</button>
    </div>
  </div>
</div>


<ng-template #findUserAndRegister>
  <div class="find-patient-and-register-wrapper wrapper">
    <div class="find-patient-and-register-header">
      <p class="back-button" (click)="goBack()">< Back</p>
      <h2>Patient registration in queue</h2>
    </div>
    <div>
      <input class="find-patient-input" placeholder="Patient phone number" [(ngModel)]="phoneToSearch">
      <button class="search-button" (click)="searchByPhone()" [disabled]="shouldSearchButtonBeDisabled()">Search</button>
    </div>
    <h3>Patient information</h3>
    <div class="patient-information" *ngIf="patient; else patientInfoError">
      <div class="patient-id column-info">
        <label>Id</label>
        <div>{{ patient.id }}</div>
      </div>
      <div class="patient-name column-info">
        <label>Name</label>
        <div> {{ patient.fname + ' ' + patient.lname}}</div>
      </div>
      <div class="patient-phone column-info">
        <label>Phone number</label>
        <div>{{ patient.phoneNumber }}</div>
      </div>
    </div>
    <h3>Queue registration parameters</h3>
    <div class="queue-registration-information ">
      <div class="queue-date column-info">
        <label>Date</label>
        <div>{{ selectedDate }}</div>
      </div>
      <div class="queue-time column-info">
        <label>Time</label>
        <div> {{ selectedTimeInterval + ':00'}}</div>
      </div>
      <div class="queue-doctor column-info">
        <label>Doctor</label>
        <div> {{ getSelectedNurseName() }}</div>
      </div>

    </div>
    <div class="register-in-queue-button-wrapper">
      <button class="submit-button register-in-queue-button" [disabled]="!patient" (click)="registerInQueue()">Register in queue</button>
    </div>
  </div>
</ng-template>

<ng-template #patientInfoError>
  <div class="error-text">{{textToShowInPatientInfoError}}</div>
</ng-template>

<app-pop-up></app-pop-up>