.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.wrapper {
    width: 400px;
    height: 300px;
    background-color: navajowhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.email-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 25px;
    box-sizing: border-box;
    font-size: 18px;
}

input.ng-invalid.ng-touched {
    border: 2px solid red;
}

input.ng-valid.ng-touched {
    border: 2px solid green;
}