<div class="wrapper">
  <div>Register form</div>
  <input type="text" class="email" placeholder="email" value="{{email}}"/>
  <input type="text" class="fname" placeholder="fname"/>
  <input type="text" class="lname" placeholder="lname"/>
  <input type="text" class="phone" placeholder="phone"/>
  <input type="password" class="password" placeholder="password"/>
  <input type="password" class="confirmPassword" placeholder="confirm password"/>
  <input type="button" class="submit" value="Register">
  <div style="display: none;" class="warning">Some fields are empty</div>
  <div style="display: none;" class="passwordWarning">Some fields are empty</div>
  <div style="display: none;" class="hospitalId">{{hospitalId}}</div>
  <div class="response" style="display: none;"></div>
</div>
<script>
  const submitBut = document.querySelector('.submit')
  submitBut.addEventListener('click', () => {
    const fname = document.querySelector('.fname').value
    const lname = document.querySelector('.lname').value
    const phoneNumber = document.querySelector('.phone').value
    const email = document.querySelector('.email').value
    const password = document.querySelector('.password').value
    const hospitalId = document.querySelector('.hospitalId').innerText
    const confirmPassword = document.querySelector('.confirmPassword').value
    if(fname && lname && email && password && confirmPassword && phoneNumber) {
      if(password !== confirmPassword) {
        const passwordWarning = document.querySelector('.passwordWarning')
        passwordWarning.style.display = 'block'
        return
      }
      return fetch('http://localhost:3000/api/nurses', {
        method: 'POST',
        body: JSON.stringify({
          lname,
          fname,
          phoneNumber,
          email,
          password,
          hospitalId
        })
      }).then((res) => {
        const div = document.querySelector('.response')
        div.innerHTML = res || 'OK'
        return
      })
    }
    const warning = document.querySelector('.warning')
    warning.style.display = 'block'
  })
</script>
<style>
.wrapper {
  display: flex;
  flex-direction: column;

}
input, div {
  margin-top: 20px;
  width: 200px;
}
</style>